div.permissions {
	border: 1px solid #ddd;
	background: #fafafa;
	padding: 10px;
	height: 200px;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	a {
		color: black;
	}
	i {
		color: $button-submit-hover-bg;
	}
}